body {
	/*
  background-image: linear-gradient(to bottom right, #0BADBF, #ADD4D9);
  background-repeat: no-repeat;
  height: 1800px;
  background-size: cover;
  */
  background-color: #000000;
}

h1 {
	font-family: 'Calistoga', cursive;
	font-size: 2em;
	margin: 20px;
	color: #FEE9EF;
}

canvas {
	max-width: 900px;
	padding: 10px;
	margin: 0 auto;
}

hr {
	border: 2px solid #FFFFFF;
	width: 50%;
}

.p {
	font-family: 'Calistoga', cursive;
	color: #FFF5F6;
	font-size: 1.5em;
	margin-top: 50px;
	letter-spacing: 1px;
}

.space {
	height: 200px;
}

.seccion-titulo p {
	padding: 20px;
	margin: 20px;
	font-family: 'Calistoga', cursive;
	font-size: 55px;
	text-align: center;
	color: #FFF5F6;
}

.seccion-subtitulo p {
	padding: 20px;
	margin: 0 auto;
	font-family: 'Calistoga', cursive;
	font-size: 30px;
	text-align: center;
	color: #FFFFFF;
}

.vs {
	border: 5px solid red;
}

.mt {
	margin-top: 50px;
}

.nota {
	font-family: 'Calistoga', cursive;
	color: #FEE9EF;
	font-size: 1em;
	margin: 20px;
	padding: 10px;
	text-align: center;
}

.ct {
	text-align: center;
}

.principal-div {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.sec-div {
	padding: 10px;
	text-align: center;
	margin: 0 auto;
	height: 400px;
}

.mg-b {
	margin-bottom: 50px;
}

.clock-div {
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	align-content: center;
}

.img {
	border: 3px solid white;
	border-radius: 10px;
	height: 390px;
	width: 460px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.img:hover {
	border: 3px solid grey;
}

.clock {
	margin: 0px auto;
	font-size: 38px;
	color: #FEE9EF;
	border-radius: 25px;
	border: 2px solid #FEE9EF;
	padding: 10px;
	width: 90px;
	height: 90px;
	text-align: center;
	margin-bottom: 20px;
}

.startButton {
	width: 200px;
	height: 300px;
	text-align: center;
	padding: 10px;
	padding-top: 50px;
	border: 5px solid #FEE9EF;
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 200px;
	color: #FEE9EF;
	font-family: 'Calistoga', cursive;
}

.startButton:hover {
	border: 5px solid #D94A3D;
	border-radius: 20px;
	color: #D94A3D;
}

.mensaje {
	margin: 0 auto;
}

.textButton {
	text-align: center;
	color: blue;
}

.boton {
	font-family: 'Calistoga', cursive;
	padding: 10px;
	font-size: 1.1em;
	background-color: #FFF5F6;
	width: 100px;
	height: 50px;
	border: 3px solid white;
	margin: 20px;
}

.submit {
	font-family: 'Calistoga', cursive;
	padding: 10px;
	font-size: 1.1em;
	background-color: #FFF5F6;
	width: 200px;
	height: 70px;
	border: 3px solid white;
	margin: 20px;
}

#botonMod {
	width: 150px;
	height: 70px;
}

#resultado {
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 400px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
    margin-top: 70px;
}

#resultado img {
    position: absolute;
    top:100px;
    left:325px;
}

#resultado p {
    position: absolute;
    display: block;
    width : 59px;
    height : 59px;
    top: 200px;
    left: 300px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#start p {
	font-size: 2em;
}

.contenedor {
    margin : 20px auto;
    background-color: white;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}